body{
	background-color: #00FF18;
	background-image: url("https://data.whicdn.com/images/46979921/original.gif");
	background-repeat: no-repeat;
	background-size: cover;
	color: #FF00D8;
	font-family: fantasy;
}

p {
	font-family: cursive;
}

.class2, .class1{
	color: red;
}

.class1{
	animation: blink 1s;
	animation-iteration-count: infinite;
	text-align: center;
	padding: 20px;
	font-size: 100px;
	outline-color: rgb(black);
}

.class2{
	border: 1px blue dashed;
	border-radius: 7px;
	margin: 50px;
	text-align: center;
	padding: 10px;
}

#paragraph2{
	border-radius: 10px;
	text-align: center;
}

#title{
	font-size: 50px;
	color: rgb(black);
	background-image: url("https://media.giphy.com/media/UbTeBpyZQO1wI/giphy.gif");
	text-align: center;
	padding: 50px;

}

@keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}