<!DOCTYPE html>
<html>
<head>
	<title>ICS4U</title>
	<link rel="stylesheet" type="text/css" href="style/style.css">
	<script type="text/javascript" src="js/script.js"></script>
</head>

<body id="body">
	<h1 id="title">ToyStory Fanpage</h1>
	<p id="paragraph1" class="class2">
		Bunch o text bunch o text
	</p>
	<h1 class="class1" onclick="onClick();" >HELP</h1>
	<p id="paragraph2">
		Bunch o text bunch o text
	</p>
	<h1>Sample Header</h1>
	<p>
		Bunch o text bunch o text

		<img src="https://images-na.ssl-images-amazon.com/images/I/71A4-YuUrkL._AC_UL320_SR314,320_.jpg">
	</p>
	<h1>Sample Header</h1>
	<p>
		Bunch o text bunch o text
	</p>
</body>
</html>